@charset "UTF-8";
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/* ----------- Main Styles ------------ */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  color: #fff;
  text-decoration: none; }

a:hover {
  color: #bc8220;
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.hidden {
  display: none; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

body {
  width: 100%;
  margin: 0 auto;
  background: #1a0f0d url("../img/bg.jpg") no-repeat top center;
  font-family: "RobotoRegular", sans-serif;
  font-size: 0.875em; }

h1 {
  font-size: 25px;
  font-family: "GeorgiaBoldItalic", sans-serif;
  color: #251D1B; }

h2 {
  font-size: 21px;
  font-family: "GeorgiaBoldItalic", sans-serif;
  color: #fffafa; }

.wrapper {
  width: 1400px;
  margin: 0 auto; }

/* ----------- End Main Styles ------------ */
/* ----------- Header ------------ */
.top-line {
  width: 100%;
  padding: 3.21429% 1.78571%;
  color: #FFF;
  line-height: 1.5625em; }
  .top-line_sub-block {
    float: left;
    width: 28%;
    color: #FFF; }
  .top-line .sub-block-phones {
    width: 30%; }
  .top-line .sub-block-lang {
    width: 14%; }
  .top-line_booking {
    background-image: url(../img/sprites/sprite.png);
    background-position: 0px -40px;
    width: 32px;
    height: 35px;
    float: left;
    margin: 0 20px 0 25px; }
  .top-line a {
    padding-bottom: 3px;
    font-family: "GeorgiaBold", sans-serif;
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
    line-height: 36px; }
    .top-line a:hover {
      border-bottom: 1px solid #e5af51; }
  .top-line_address {
    background-image: url(../img/sprites/sprite.png);
    background-position: -28px -75px;
    width: 26px;
    height: 34px;
    float: left;
    margin: 0 20px 0 25px; }
  .top-line .address {
    margin-top: -5px; }
  .top-line_phones {
    background-image: url(../img/sprites/sprite.png);
    background-position: 0px -75px;
    width: 28px;
    height: 35px;
    float: left;
    margin: 0 20px 0 25px; }
  .top-line .phones {
    margin-top: -5px;
    font-size: 1.25em; }
    .top-line .phones li {
      line-height: 23px; }
      .top-line .phones li .phone-part {
        color: #f4bc71; }
      .top-line .phones li .phone-desc {
        display: inline-block;
        margin-left: 18px;
        font-size: 12px; }
  .top-line .lang {
    margin-top: 10px;
    text-align: right;
    text-transform: uppercase; }
    .top-line .lang li {
      display: inline-block;
      border-left: 2px solid #844233;
      padding: 0 7px;
      line-height: 16px; }
      .top-line .lang li:first-child {
        border-left: none; }
      .top-line .lang li a {
        color: #E7B055;
        font-family: "RobotoRegular", sans-serif;
        font-size: 16px;
        border-bottom: none;
        line-height: 16px;
        padding-bottom: 0; }
        .top-line .lang li a:hover, .top-line .lang li a:focus {
          color: #FFFAFA; }

.mnu-block {
  width: 100%;
  padding: 6.42857% 0 2.5% 0;
  background: #FFF5E5;
  text-align: center; }
  .mnu-block nav a {
    margin-right: 75px;
    border-bottom: 3px solid #bcb1a4;
    padding-bottom: 8px;
    color: #181818;
    font-family: "GeorgiaBold", sans-serif;
    font-size: 16px; }
    .mnu-block nav a:hover, .mnu-block nav a:active {
      color: #bc8220;
      border-bottom: 3px solid #cfa56b; }
    .mnu-block nav a:last-child {
      margin-right: 0; }
    .mnu-block nav a:nth-child(3) {
      margin-right: 300px; }
  .mnu-block .logo-wrap {
    margin-top: -90px; }
  .mnu-block .logo-title {
    display: inline-block;
    margin: 5px 40px 0 40px;
    color: #e3ad4d;
    font-family: "RobotoLight", sans-serif;
    font-size: 35px;
    text-transform: uppercase; }
  .mnu-block .flower-left, .mnu-block .flower-right {
    display: inline-block; }
  .mnu-block .flower-left {
    background-image: url(../img/sprites/sprite.png);
    background-position: 0px 0px;
    width: 198px;
    height: 20px; }
  .mnu-block .flower-right {
    background-image: url(../img/sprites/sprite.png);
    background-position: 0px -20px;
    width: 198px;
    height: 20px; }

/* ----------- End Header ------------ */
/* ------------ Page Main ------------- */
.slider {
  width: 100%;
  height: 470px; }
  .slider .bxslider .slider-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  .slider .bx-wrapper .bx-caption .slider-title,
  .slider .bx-wrapper .bx-caption .slider-title,
  .slider .bx-wrapper .bx-caption a {
    display: block;
    margin: 0 auto;
    color: #fffafa;
    line-height: 49px; }
  .slider .bx-wrapper .bx-caption .slider-title {
    width: 90%;
    margin-top: 10%;
    overflow: hidden;
    font-size: 39px;
    font-family: "GeorgiaBoldItalic", sans-serif; }
  .slider .bx-wrapper .bx-caption hr {
    margin: 0 auto;
    width: 500px; }
  .slider .bx-wrapper .bx-caption .slider-subtitle {
    font-size: 22px;
    font-family: "RobotoBold", sans-serif;
    margin-top: 5px;
    padding: 0 20px; }
  .slider .bx-wrapper .bx-caption a {
    width: 200px;
    height: 50px;
    margin-top: 60px;
    font-size: 22px;
    font-family: "RobotoRegular", sans-serif;
    border: 1px solid #fffafa; }
    .slider .bx-wrapper .bx-caption a:hover {
      background-color: #e5af51;
      color: #251D1B;
      border: 1px solid #e5af51; }

.booking {
  position: relative;
  width: 100%;
  padding: 3.21429% 4.28571% 3.21429% 10.71429%;
  background: #251d1b url(../img/bg-for-key.png) no-repeat -15px center; }
  .booking .key {
    position: absolute;
    top: 45px;
    left: 3.57143%; }
  .booking .fast-booking {
    float: left;
    border-right: 1px solid #644D2D;
    padding-right: 3.92857%; }
    .booking .fast-booking .second-line {
      padding-left: 10px;
      padding-bottom: 10px; }
  .booking #booking-form .for-arrival-date, .booking #booking-form .for-departure-date {
    display: block;
    float: left;
    width: 11%;
    padding-left: 3.5%;
    padding-right: 2.5%;
    padding-top: 5px;
    color: #8D6C38;
    font-size: 15px;
    line-height: 20px;
    font-family: "VerdanaRegular", sans-serif; }
  .booking #booking-form .arrival-date, .booking #booking-form .departure-date {
    display: block;
    float: left;
    width: 18%;
    height: 55px;
    padding-left: 7%;
    border: 1px solid #645545;
    background: url("../img/input-bg.png") no-repeat 15px center;
    background-color: inherit;
    color: #F5F5F9;
    font-size: 16px;
    line-height: 46px;
    font-family: "VerdanaRegular", sans-serif; }
  .booking #booking-form #booking-btn {
    width: 16%;
    height: 55px;
    margin-left: 4%;
    background-color: #d82718;
    border: none;
    border-bottom: 3px solid #9e1c12;
    color: #FDFDFD;
    cursor: pointer;
    font-size: 18px;
    font-family: "VerdanaRegular", sans-serif; }
    .booking #booking-form #booking-btn:hover {
      background-color: #ed2614;
      border-bottom: 3px solid #96180d; }
    .booking #booking-form #booking-btn:active {
      background-color: #ce2718;
      border: none;
      border-top: 3px solid #82190f; }

.content-main {
  width: 100%;
  padding: 4.28571% 5%;
  background-color: #fff5e5; }
  .content-main span {
    font-size: 38px;
    font-family: "GeorgiaBoldItalic", sans-serif;
    color: #251D1B;
    line-height: 49px; }
  .content-main li {
    width: 30.2%;
    float: left;
    margin-top: 50px;
    margin-right: 4.7%; }
    .content-main li:nth-child(3n) {
      margin-right: 0; }
    .content-main li .img-block {
      width: 100%;
      height: 205px; }
    .content-main li .describe-block {
      margin-top: 5px;
      padding: 35px 30px 40px;
      border: 1px solid #e5af51; }
      .content-main li .describe-block section {
        height: 100px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: "RobotoItalic", sans-serif;
        font-size: 14px;
        line-height: 24px;
        overflow: hidden; }
      .content-main li .describe-block a {
        position: relative;
        font-size: 18px;
        line-height: 24px;
        font-family: "GeorgiaBoldItalic", sans-serif;
        color: #ae7719; }
        .content-main li .describe-block a .arrow-right {
          background-image: url(../img/sprites/sprite.png);
          background-position: -121px -75px;
          width: 7px;
          height: 13px;
          position: absolute;
          bottom: 5px;
          left: 115px; }
        .content-main li .describe-block a:hover {
          text-decoration: underline; }
  .content-main .hotel-describe {
    margin-top: 75px; }
    .content-main .hotel-describe section {
      margin-top: 30px;
      font-family: "RobotoItalic", sans-serif;
      font-size: 16px;
      line-height: 30px; }

/* ------------ End Page Main ------------- */
/* -------- Page Rooms ----------- */
.content-rooms {
  width: 100%;
  padding: 2.14286% 4.28571% 4.28571%;
  background-color: #FFF; }

/* -------- End Page Rooms ----------- */
/* ----------- Footer ------------ */
.grey-block {
  padding: 85px 65px 105px 65px;
  background: #251d1b;
  border-bottom: 1px solid #514948; }
  .grey-block h1 {
    color: #FFF5E5;
    margin-bottom: 40px; }
  .grey-block .hotel-photo {
    width: 41%;
    padding-left: 40px;
    padding-right: 30px;
    float: left; }
    .grey-block .hotel-photo .photo {
      background-image: url(../img/sprites/sprite.png);
      background-position: -78px -75px;
      width: 24px;
      height: 30px;
      float: left;
      margin-left: -40px; }
    .grey-block .hotel-photo .gallery-ft {
      width: 450px; }
      .grey-block .hotel-photo .gallery-ft li {
        float: left;
        width: 150px;
        height: 100px; }
        .grey-block .hotel-photo .gallery-ft li a {
          display: block;
          width: 100%;
          height: 100%; }
  .grey-block .callback-form {
    width: 59%;
    float: left;
    padding-left: 4%; }
    .grey-block .callback-form .letter {
      background-image: url(../img/sprites/sprite.png);
      background-position: -93px -40px;
      width: 32px;
      height: 24px;
      float: left;
      margin-left: -50px;
      margin-right: 10px; }
    .grey-block .callback-form #contactform input, .grey-block .callback-form #contactform textarea {
      margin-top: 20px;
      background-color: inherit;
      border: none;
      border-bottom: 1px solid #645545;
      color: #F5F5F9;
      font-family: "VerdanaRegular", sans-serif;
      font-size: 16px; }
    .grey-block .callback-form #contactform input {
      width: 36%;
      height: 35px; }
    .grey-block .callback-form #contactform input[type="submit"] {
      width: 140px;
      height: 40px;
      margin-top: 50px;
      border: 1px solid #645545;
      color: #A9A9A9; }
    .grey-block .callback-form #contactform input[type="submit"]:hover {
      background-color: #5f492b;
      cursor: pointer; }
    .grey-block .callback-form #contactform textarea {
      width: 56%;
      height: 28px;
      margin-left: 7%;
      margin-bottom: -10px; }

footer .top-line_sub-block {
  float: right; }

.footer-mnu-block {
  width: 100%;
  padding-top: 70px; }
  .footer-mnu-block .logo-wrap {
    float: left;
    margin: -50px 55px 0 30px;
    text-align: center; }
  .footer-mnu-block .logo-title {
    display: inline-block;
    color: #ffefd4;
    font-family: "RobotoLight", sans-serif;
    font-size: 25px;
    text-transform: uppercase; }
  .footer-mnu-block ul {
    float: left;
    margin-right: 60px; }
    .footer-mnu-block ul li a {
      color: #bf9258;
      line-height: 30px; }
      .footer-mnu-block ul li a:hover {
        color: #fff5e5; }
    .footer-mnu-block ul li:first-child a {
      font-family: "GeorgiaBold", sans-serif;
      color: #ecbb7b;
      line-height: 49px; }
      .footer-mnu-block ul li:first-child a:hover {
        color: #fff5e5; }
  .footer-mnu-block .ft-line {
    position: relative;
    left: 250px;
    margin-top: -20px;
    width: 77.5%;
    height: 1px;
    background-color: #392420; }
    .footer-mnu-block .ft-line .flower-right-dark {
      background-image: url(../img/sprites/sprite.png);
      background-position: -102px -75px;
      width: 19px;
      height: 19px;
      position: absolute;
      right: 0;
      top: -9px; }

/* ----------- End Footer ------------ */
/*==========  Desktop First Method  ========== */
@media only screen and (max-width: 1400px) {
  .wrapper {
    width: 1200px; } }

/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
