@import "bourbon";
@import "vars.scss";
@import "sprite.scss";
/* ----------- Main Styles ------------ */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  color: #fff;
  text-decoration: none;
}

a:hover{
  color: $lnk-mnu-hover;
  text-decoration: none;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.hidden {
  display: none;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {clear: both;}

body{
  width: 100%;
  margin: 0 auto;
  background: #1a0f0d url('../img/bg.jpg') no-repeat top center;
  font-family: "RobotoRegular", sans-serif;
  font-size: em(14px);
}

h1{
	color: #251D1B;
	font-size: em(27px);
	font-family: "GeorgiaBoldItalic", sans-serif;
}

h2{
	color: #fffafa;
	font-size: em(23px);
	font-family: "GeorgiaBoldItalic", sans-serif;
}

.wrapper{
	width: $site-width;
	margin: 0 auto;
}

.content-title{
	position: relative;
	.category-name{
		padding-right: 10px;
		background: #fff9ef;
		color: #251D1B;
		font-family: "GeorgiaBoldItalic", sans-serif;
		font-size: em(40px);
		line-height: 49px;
	}
	.content-title-line{
		width: 100%;
		height: 1px;
		margin-top: -20px;
		background-color: #E5AF51;
		.flower-right{
			@include sprite($flower-right);
			position: absolute;
			top: 19px;
			right: 0;
		}
	}
}

.webstudio-active{
	display: block !important;
}

.rotate-90{
	transform: rotate(90deg);	
}
/* ----------- End Main Styles ------------ */

/* ----------- Header ------------ */
.top-line{
	width: 100%;
	padding: 45px/$site-width*100% 25px/$site-width*100%;
	color: #FFF;
	line-height: em(25px);
	&_sub-block{
		float: left;
		width: 28%;
		color: #FFF;
	}
	.sub-block-phones{
		width: 30%;
	}
	.sub-block-lang{
		width: 14%;
	}
	&_booking{
		@include sprite($booking);
		float: left;
		margin: 0 20px 0 25px;
	}
	a{
		padding-bottom: 3px;
		color: #FFF;
		font-family: "GeorgiaBold", sans-serif;
		font-size: em(18px);
		line-height: em(38px);
		text-decoration: none;
		&:hover{
			border-bottom: 1px solid #e5af51;	
		}
	}
	&_address{
		@include sprite($map-label);
		float: left;
		margin: 0 20px 0 25px;
	}
	.address{
		margin-top: -5px;
	}
	&_phones{
		@include sprite($phone);
		float: left;
		margin: 0 20px 0 25px;
	}
	.phones{
		margin-top: -5px;
		font-size: em(20px);
		li{
			line-height: 23px;
			.phone-part{
				color: #f4bc71;
			}
			.phone-desc{
				display: inline-block;
				margin-left: 18px;
				font-size: em(12px);
			}
		}
	}
	.lang{
		margin-top: 10px;
		text-align: right;
		text-transform: uppercase;
		li{
			display: inline-block;
			border-left: 2px solid #844233;
			padding: 0 7px;
			line-height: em(18px);
			&:first-child{
				border-left: none;
			}
			a{
				padding-bottom: 0;
				border-bottom: none;
				color: #E7B055;
				font-family: "RobotoRegular", sans-serif;
				font-size: em(18px);
				line-height: em(18px);
				&:hover, &:focus{
					color: #FFFAFA;
				}
			}
		}
	}
}

.mnu-block{
	width: 100%;
	padding: 90px/$site-width*100% 0 35px/$site-width*100% 0;
	background: #FFF5E5;
	text-align: center;
	nav{
		a{
			margin-right: 6%;
			padding-bottom: 8px;			
			border-bottom: 3px solid #bcb1a4;
			color: $lnk-mnu;
			font-family: "GeorgiaBold", sans-serif;
			font-size: em(18px);
			&:hover, &:active{
				color: $lnk-mnu-hover;
				border-bottom: 3px solid #cfa56b;
			}
			&:last-child{
				margin-right: 0;
			}
			&:nth-child(3){
				margin-right: 25%;
			}
		}
	}
	.logo-wrap{
		margin-top: -75px;
	}
	.logo-title{
		display: inline-block;
		margin: 5px 40px 0 40px;
		color: #e3ad4d;
		font-family: "RobotoLight", sans-serif;
		font-size: em(37px);
		text-transform: uppercase;
	}
	.flower-left, .flower-right{
		display: inline-block;
	}
	.flower-left{
		@include sprite($bg-logo-title-left);
	}
	.flower-right{
		@include sprite($bg-logo-title-right);
	}
}
/* ----------- End Header ------------ */

/* ------------ Page Main ------------- */
.slider{
	width: 100%;
	height: 470px;
	.ug-arrow-right.ug-skin-default{ 
		@include sprite($bx-next);
		z-index: 5;
		&:hover{
			@include sprite($bx-next);
			opacity: 0.5;
		}
	}
	.ug-arrow-left.ug-skin-default{
		@include sprite($bx-prev);
		z-index: 5;
		&:hover{
			@include sprite($bx-prev);
			opacity: 0.5;
		}
	}
}

.booking{
	position: relative;
	width: 100%;
	padding: 45px/$site-width*100% 60px/$site-width*100% 45px/$site-width*100% 150px/$site-width*100%;
	background: #251d1b url(../img/bg-for-key.png) no-repeat -15px center;
	.key{
		position: absolute;
		top: 45px;
		left: 50px/$site-width*100%;
	}
	.fast-booking{
		float: left;
		border-right: 1px solid #644D2D;
		padding-right: 55px/$site-width*100%;
		.second-line{
			padding-left: 10px;
			padding-bottom: 10px;
		}
	}
	#booking-form{
		.for-arrival-date, .for-departure-date{
			display: block;
		    float: left;
		    width: 11%;
		    padding-left: 3.5%;
		    padding-right: 2.5%;
		    padding-top: 5px;
		    color: #8D6C38;
		    font-size: em(17px);
		    font-family: "VerdanaRegular", sans-serif;
		    line-height: em(22px);
		}
		.arrival-date, .departure-date{
			display: block;
			float: left;
			width: 18%;
			height: 55px;
			padding-left: 6%;
			border: 1px solid #645545;
			background: url('../img/input-bg.png') no-repeat 15px center;
			background-color: inherit;
			color: #F5F5F9;
			font-size: em(18px);
			font-family: "VerdanaRegular", sans-serif;
			line-height: em(48px);
		}
		.booking-btn{
			width: 16%;
			height: 55px;
			margin-left: 4%;
			background-color: #d82718;
			border: none;
			border-bottom: 3px solid #9e1c12;
			color: #FDFDFD;
			font-size: em(20px);
			font-family: "VerdanaRegular", sans-serif;
			cursor: pointer;
			&:hover{
				background-color: #ed2614;
				border-bottom: 3px solid #96180d;
			}
			&:active{
				background-color: #ce2718;
				border: none;
				border-top: 3px solid #82190f;
			}
		}
	}
}

.content-main{
	width: 100%;
	padding: 60px/$site-width*100% 70px/$site-width*100%;
	background-color: #fff5e5;
	span{
		color: #251D1B;
		font-size: em(40px);
		font-family: "GeorgiaBoldItalic", sans-serif;
		line-height: 49px;
	}
	li{
		width: 30.2%;
		float: left;
		margin-top: 50px;
		margin-right: 4.7%;
		&:nth-child(3n){
			margin-right: 0;
		}
		.img-block{
			width: 100%;
			height: 205px;
		}
		.describe-block{
			margin-top: 5px;
			padding: 35px 30px 40px;
			border: 1px solid #e5af51;
			h1{
				max-height: 29px;
				overflow: hidden;
			}
			section{
				height: 100px;
				margin-top: 20px;
				margin-bottom: 20px;
				font-family: "RobotoItalic", sans-serif;
				font-size: em(16px);
				line-height: em(30px);
				overflow: hidden;
			}
			a{
				position: relative;
				color: #ae7719;
				font-size: em(20px);
				font-family: "GeorgiaBoldItalic", sans-serif;
				line-height: em(26px);
				.arrow-right{
					@include sprite($arrow-right);
					position: absolute;
					bottom: 3px;
					left: 115px;
				}
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
	.hotel-describe{
		margin-top: 75px;
		section{
			margin-top: 30px;
			font-family: "RobotoItalic", sans-serif;
			font-size: em(18px);
			line-height: em(32px);
		}
	}
}
/* ------------ End Page Main ------------- */

/* -------- Page Rooms ----------- */
.content-rooms{
	width: 100%;
	margin-top: 10px;
	padding: 30px/1400px*100% 60px/1400px*100% 60px/1400px*100%;
	background-color: #FFF;
	.content-title{
		.category-name{
			background: #FFF;
		}
	}
	.rooms-block{
		width: 100%;
		margin-top: 30px;
		.img-block{
			float: left;
			width: 26%;
			height: 280px;
		}
		.describe-block{
			float: left;
			width: 50%;
			padding-left: 30px;
			padding-right: 10px;
			color: #251D1B;
			h1{
				margin-bottom: 10px;
				font-size: em(32px);
			}
			span{
				font-family: "RobotoBold", sans-serif;
				font-size: em(18px);
				line-height: em(32px);
				.qnty{
					color: #AB7D2F;
					margin-left: 10px;
				}
			}
			.describe-room{
				font-size: em(16px);
				line-height: em(27px);
				table{
					margin-top: 48px;
					.option-name{
						padding-right: 60px;
						font-family: "RobotoBold", sans-serif;
						font-size: em(16px);
						line-height: em(27px);
					}
				}
			}
		}
		.price-block{
			float: right;
			width: 22%;
			margin-right: -6px;
			padding-top: 14.8%;
			span{
				font-family: "RobotoBlack", sans-serif;
				font-size: em(20px);
				line-height: em(51px);
				.price{
					margin-left: 10px;
					color: #e6b359;
				}
			}
			.booking-btn-in-rooms{
				display: block;
				width: 80%;
				height: 55px;
				margin-left: 17%;
				padding-top: 15px;
				border: none;
				border-bottom: 3px solid #9e1c12;
				background-color: #d82718;
				color: #FDFDFD;
				text-align: center;
				font-size: em(20px);
				font-family: "VerdanaRegular", sans-serif;
				cursor: pointer;
				&:hover{
					border-bottom: 3px solid #96180d;
					background-color: #ed2614;
				}
				&:active{
					border: none;
					border-top: 3px solid #82190f;
					background-color: #ce2718;
				}
			}
		}
		.conveniences-line{
			width: 100%;
			margin-top: 10px;
			padding: 15px 20px;
			border: 1px solid #e0e3e8;
			cursor: pointer;
			span{
				border-bottom: 1px dotted #B38F6F;
				color: #b38f6f;
				font-size: em(23px);
				font-family: "RobotoBold", sans-serif;
				line-height: 21px;
			}
			.arrow-conveniences{
				@include sprite($arrow-right-rooms);
				float: right;
			}
		}
		.conveniences-block{
			display: none;
			width: 100%;
			padding: 30px 30px 40px 30px;
			background: #f2f2f2;
			ul{
				float: left;
				width: 33.3%;
				padding-right: 2%;
				font-size: em(15px);
				font-family: "RobotoRegular", sans-serif;
				line-height: em(32px);
				li{
					padding-left: 10px;
					background: url('../img/list-style.png') no-repeat left 14px;
				}
			}
		}
	}
}
/* -------- End Page Rooms ----------- */

/* -------- Page Services ----------- */
.content{
	width: 100%;
	margin-top: 10px;
	padding: 65px/1400px*100% 100px/1400px*100% 90px/1400px*100%;
	background-color: #fff9ef;
	.content-title{
		.category-name{
			color: #765C4D;
		}
	}
	.services-block{
		position: relative;
		width: 100%;
		padding: 20px 0 38px 0;
		border-bottom: 1px solid #E5AF51;
		.services-title{
			display: inline;
			padding-right: 15px;
			background: #fff9ef;
			color: #765C4D;
			font-size: em(23px);
			font-family: "RobotoBold", sans-serif;
			z-index: 2;
			cursor: pointer;
		}
		.service-title-line{
			width: 100%;
			height: 1px;
			margin-top: -10px;
			background: #000;
		}
		.services-arrow-wrap{
			position: absolute;
			top: 29px;
			right: 0;
			padding-left: 25px;
			background-color: #FFF9EF;
			.services-arrow{
				@include sprite($arrow-right-services);
				background-color: #FFF9EF;
				cursor: pointer;
			}
		}
		.services-hide{
			display: none;
			margin-top: 35px;
			font-size: em(16px);
			line-height: em(27px);
			.services-price{
				float: left;
				margin-right: 30px;
				&-name{
					color: #765C4C;
					.services-price-value{
						margin-left: 10px;
						color: #1F130E;
						.price{
							font-size: em(22px);
							color: #1B100D;
						}
					}
				}
			}
			.webstudio-gallery{
				margin-top: 35px;
				margin-bottom: 45px;
			}
		}
	}

}
/* -------- End Page Services ----------- */

/* -------- Page Events ----------- */
.content{
	.events-block{
		width: 100%;
		padding: 70px 0 50px 0;
		border-bottom: 1px solid #d0c1ab;
		h2{
			display: inline;
			margin-right: 25px;
			color: #1A0F0D;
			font-family: "RobotoBold", sans-serif;
		}
		.date-wrap{
			display: inline-block;
			line-height: em(36px);
			.calendar{
				@include sprite($calendar);
				position: relative;
				display: inline-block;
				top: 2px;
				margin-right: 10px;
			}
			.date{
				color: #765628;
				font-size: em(18px);
				font-family: "VerdanaRegular";
				line-height: em(30px);
				text-decoration: underline;
				vertical-align: top;
			}
		}
		.events-description{
			margin-top: 10px;
			margin-bottom: 50px;
			color: #1A0F0D;
			line-height: em(27px);
		}
	}
}
/* -------- End Page Events ----------- */

/* -------- Page Gallery ----------- */
.content{
	.content-title{
		.gallery-name{
			color: #D9A64E;
		}
	}
	.gallery-block{
		width: 100%;
		padding: 40px 0;	
		border-bottom: 1px solid #d0c1ab;	
		h2{
			margin-bottom: 30px;
			color: #1A0F0D;
			font-family: "RobotoBold", sans-serif;
		}
	}
}
/* -------- End Page Gallery ----------- */

/* -------- Page Contact ----------- */
.map-contact{
	width: 100%;
	margin-bottom: 25px;
}
.content{
	.contact-block{
		width: 100%;
		padding: 40px 0 0 0;
		.contact-item{
			float: left;
			width: 40%;
			margin-right: 10%;
			li{
				padding: 25px 0;
				font-size: em(20px);
				font-family: "RobotoItalic", sans-serif;
				line-height: em(32px);
				.data{
					float: left;
					width: 85%;
					padding-bottom: 10px;
					border-bottom: 1px solid #e9d0a5;
					line-height: em(26px);
					overflow: hidden;
				}
			}
			.map-label-contact{
				@include sprite($map-label-contact);
				float: left;
				margin-right: 15px;
			}
			.letter-contact{
				@include sprite($letter-contact);
				float: left;
				margin-right: 15px;
			}
			.phone-contact{
				@include sprite($phone-contact);
				float: left;
				margin-right: 15px;
			}
			.location-contact{ 
				@include sprite($location-contact);
				float: left;
				margin-right: 15px;
			}
		}	
	}
}
/* -------- End Page Contact ----------- */

/* ----------- Footer ------------ */
.grey-block{
	padding: 85px 65px 105px 65px;
	background: #251d1b;
	border-bottom: 1px solid #514948;
	h1{
		margin-bottom: 40px;
		color: #FFF5E5;
	}
	.hotel-photo{
		float: left;
		width: 41%;
		padding-left: 40px;
		padding-right: 30px;
		.photo{
			@include sprite($photo);
			float: left;
			margin-left: -40px;
		}
	}
	.callback-form{
		float: left;
		width: 59%;
		padding-left: 4%;
		.letter{
			@include sprite($letter);
			float: left;
			margin-left: -50px;
			margin-right: 10px;
		}
		#contactform{
			input, textarea{		
				margin-top: 20px;
				background-color: inherit;
				border: none;
				border-bottom: 1px solid #645545;
				color: #F5F5F9;
				font-family: "VerdanaRegular", sans-serif;
				font-size: em(18px);
			}
			input{
				width: 36%;
				height: 35px;
			}
			input[type="submit"]{
				width: 140px;
				height: 40px;
				margin-top: 50px;
				border: 1px solid #645545;
				color: #A9A9A9;
			}
			input[type="submit"]:hover{
				background-color: #5f492b;
				cursor: pointer;
			}
			textarea{
				width: 56%;
				height: 28px;
				margin-left: 7%;
				margin-bottom: -10px;
			}
		}
	}
}

footer{
	.top-line{
		&_sub-block{
			float: right;
		}
	}
}

.footer-mnu-block{
	width: 100%;
	padding-top: 70px;
	.logo-wrap{
		float: left;
		margin: -70px 30px 0 -10px;
		text-align: center;
	}
	.logo-title{
		display: inline-block;
		color: #ffefd4;
		font-family: "RobotoLight", sans-serif;
		font-size: 25px;
		text-transform: uppercase;
	}
	ul{
		float: left;
		margin-right: 60px;
		li{
			a{
				color: $lnk-submnu-ft;
				line-height: em(32px);
				&:hover{
					color: $lnk-mnu-ft-hover;
				}	
			}
			&:first-child a{
				color: $lnk-mnu-ft;
				font-family: "GeorgiaBold", sans-serif;
				line-height: em(49px);
				&:hover{
					color: $lnk-mnu-ft-hover;
				}	
			}
		}
	}
	.ft-line{
		position: relative;
		width: 77.5%;
		height: 1px;
		left: 250px;
		margin-top: -20px;
		background-color: #392420;
		.flower-right-dark{
			@include sprite($flower-right-dark);
			position: absolute;
			right: 0;
			top: -9px;
		}
	}
}
/* ----------- End Footer ------------ */

//ALWAYS END
@import "media.scss";