@import "bourbon";
@import "vars.scss";
@import "sprite.scss";
/* ----------- Main Styles ------------ */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  color: #fff;
  text-decoration: none;
}

a:hover{
  color: $lnk-mnu-hover;
  text-decoration: none;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.hidden {
  display: none;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {clear: both;}

body{
  width: 100%;
  margin: 0 auto;
  background: #1a0f0d url('../img/bg.jpg') no-repeat top center;
  font-family: "RobotoRegular", sans-serif;
  font-size: em(14px);
}

h1{
	font-size: 25px;
	font-family: "GeorgiaBoldItalic", sans-serif;
	color: #251D1B;
}

h2{
	font-size: 21px;
	font-family: "GeorgiaBoldItalic", sans-serif;
	color: #fffafa;
}

.wrapper{
	width: $site-width;
	margin: 0 auto;
}
/* ----------- End Main Styles ------------ */

/* ----------- Header ------------ */
.top-line{
	width: 100%;
	padding: 45px/$site-width*100% 25px/$site-width*100%;
	color: #FFF;
	line-height: em(25px);
	&_sub-block{
		float: left;
		width: 28%;
		color: #FFF;
	}
	.sub-block-phones{
		width: 30%;
	}
	.sub-block-lang{
		width: 14%;
	}
	&_booking{
		@include sprite($booking);
		float: left;
		margin: 0 20px 0 25px;
	}
	a{
		padding-bottom: 3px;
		font-family: "GeorgiaBold", sans-serif;
		font-size: 16px;
		color: #FFF;
		text-decoration: none;
		line-height: 36px;
		&:hover{
			border-bottom: 1px solid #e5af51;	
		}
	}
	&_address{
		@include sprite($map-label);
		float: left;
		margin: 0 20px 0 25px;
	}
	.address{
		margin-top: -5px;
	}
	&_phones{
		@include sprite($phone);
		float: left;
		margin: 0 20px 0 25px;
	}
	.phones{
		margin-top: -5px;
		font-size: em(20px);
		li{
			line-height: 23px;
			.phone-part{
				color: #f4bc71;
			}
			.phone-desc{
				display: inline-block;
				margin-left: 18px;
				font-size: 12px;
			}
		}
	}
	.lang{
		margin-top: 10px;
		text-align: right;
		text-transform: uppercase;
		li{
			display: inline-block;
			border-left: 2px solid #844233;
			padding: 0 7px;
			line-height: 16px;
			&:first-child{
				border-left: none;
			}
			a{
				color: #E7B055;
				font-family: "RobotoRegular", sans-serif;
				font-size: 16px;
				border-bottom: none;
				line-height: 16px;
				padding-bottom: 0;
				&:hover, &:focus{
					color: #FFFAFA;
				}
			}
		}
	}
}

.mnu-block{
	width: 100%;
	padding: 90px/$site-width*100% 0 35px/$site-width*100% 0;
	background: #FFF5E5;
	text-align: center;
	nav{
		a{
			margin-right: 75px;
			border-bottom: 3px solid #bcb1a4;
			padding-bottom: 8px;			
			color: $lnk-mnu;
			font-family: "GeorgiaBold", sans-serif;
			font-size: 16px;
			&:hover, &:active{
				color: $lnk-mnu-hover;
				border-bottom: 3px solid #cfa56b;
			}
			&:last-child{
				margin-right: 0;
			}
			&:nth-child(3){
				margin-right: 300px;
			}
		}
	}
	.logo-wrap{
		margin-top: -90px;
	}
	.logo-title{
		display: inline-block;
		margin: 5px 40px 0 40px;
		color: #e3ad4d;
		font-family: "RobotoLight", sans-serif;
		font-size: 35px;
		text-transform: uppercase;
	}
	.flower-left, .flower-right{
		display: inline-block;
	}
	.flower-left{
		@include sprite($bg-logo-title-left);
	}
	.flower-right{
		@include sprite($bg-logo-title-right);
	}
}
/* ----------- End Header ------------ */

/* ------------ Page Main ------------- */
.slider{
	width: 100%;
	height: 470px;
	.bxslider{
		.slider-content{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
	}
	.bx-wrapper .bx-caption .slider-title, 
	.bx-wrapper .bx-caption .slider-title,
	.bx-wrapper .bx-caption a{
		display: block;
		margin: 0 auto;
		color: #fffafa;
		line-height: 49px;
	}
	.bx-wrapper .bx-caption .slider-title{
		width: 90%;
		margin-top: 10%;
		overflow: hidden;
		font-size: 39px;
		font-family: "GeorgiaBoldItalic", sans-serif;
	}
	.bx-wrapper .bx-caption hr{
		margin: 0 auto;
		width: 500px;
	}
	.bx-wrapper .bx-caption .slider-subtitle{
		font-size: 22px;
		font-family: "RobotoBold", sans-serif;
		margin-top: 5px;
		padding: 0 20px;
	}
	.bx-wrapper .bx-caption a{
		width: 200px;
		height: 50px;
		margin-top: 60px;
		font-size: 22px;
		font-family: "RobotoRegular", sans-serif;
		border: 1px solid #fffafa;
		&:hover{
			background-color: #e5af51;
			color: #251D1B;
			border: 1px solid #e5af51;
		}
	}
}

.booking{
	position: relative;
	width: 100%;
	padding: 45px/$site-width*100% 60px/$site-width*100% 45px/$site-width*100% 150px/$site-width*100%;
	background: #251d1b url(../img/bg-for-key.png) no-repeat -15px center;
	.key{
		position: absolute;
		top: 45px;
		left: 50px/$site-width*100%;
	}
	.fast-booking{
		float: left;
		border-right: 1px solid #644D2D;
		padding-right: 55px/$site-width*100%;
		.second-line{
			padding-left: 10px;
			padding-bottom: 10px;
		}
	}
	#booking-form{
		.for-arrival-date, .for-departure-date{
			display: block;
		    float: left;
		    width: 11%;
		    padding-left: 3.5%;
		    padding-right: 2.5%;
		    padding-top: 5px;
		    color: #8D6C38;
		    font-size: 15px;
		    line-height: 20px;
		    font-family: "VerdanaRegular", sans-serif;
		}
		.arrival-date, .departure-date{
			display: block;
			float: left;
			width: 18%;
			height: 55px;
			padding-left: 7%;
			border: 1px solid #645545;
			background: url('../img/input-bg.png') no-repeat 15px center;
			background-color: inherit;
			color: #F5F5F9;
			font-size: 16px;
			line-height: 46px;
			font-family: "VerdanaRegular", sans-serif;
		}
		#booking-btn{
			width: 16%;
			height: 55px;
			margin-left: 4%;
			background-color: #d82718;
			border: none;
			border-bottom: 3px solid #9e1c12;
			color: #FDFDFD;
			cursor: pointer;
			font-size: 18px;
			font-family: "VerdanaRegular", sans-serif;
			&:hover{
				background-color: #ed2614;
				border-bottom: 3px solid #96180d;
			}
			&:active{
				background-color: #ce2718;
				border: none;
				border-top: 3px solid #82190f;
			}
		}
	}
}

.content-main{
	width: 100%;
	padding: 60px/$site-width*100% 70px/$site-width*100%;
	background-color: #fff5e5;
	span{
		font-size: 38px;
		font-family: "GeorgiaBoldItalic", sans-serif;
		color: #251D1B;
		line-height: 49px;
	}
	li{
		width: 30.2%;
		float: left;
		margin-top: 50px;
		margin-right: 4.7%;
		&:nth-child(3n){
			margin-right: 0;
		}
		.img-block{
			width: 100%;
			height: 205px;
		}
		.describe-block{
			margin-top: 5px;
			padding: 35px 30px 40px;
			border: 1px solid #e5af51;
			section{
				height: 100px;
				margin-top: 20px;
				margin-bottom: 20px;
				font-family: "RobotoItalic", sans-serif;
				font-size: 14px;
				line-height: 24px;
				overflow: hidden;
			}
			a{
				position: relative;
				font-size: 18px;
				line-height: 24px;
				font-family: "GeorgiaBoldItalic", sans-serif;
				color: #ae7719;
				.arrow-right{
					@include sprite($arrow-right);
					position: absolute;
					bottom: 5px;
					left: 115px;
				}
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
	.hotel-describe{
		margin-top: 75px;
		section{
			margin-top: 30px;
			font-family: "RobotoItalic", sans-serif;
			font-size: 16px;
			line-height: 30px;
		}
	}
}
/* ------------ End Page Main ------------- */

/* -------- Page Rooms ----------- */
.content-rooms{
	width: 100%;
	padding: 30px/1400px*100% 60px/1400px*100% 60px/1400px*100%;
	background-color: #FFF;
}
/* -------- End Page Rooms ----------- */

/* ----------- Footer ------------ */
.grey-block{
	padding: 85px 65px 105px 65px;
	background: #251d1b;
	border-bottom: 1px solid #514948;
	h1{
		color: #FFF5E5;
		margin-bottom: 40px;
	}
	.hotel-photo{
		width: 41%;
		padding-left: 40px;
		padding-right: 30px;
		float: left;
		.photo{
			@include sprite($photo);
			float: left;
			margin-left: -40px;
		}
		.gallery-ft{
			width: 450px;
			li{
				float: left;
				width: 150px;
				height: 100px;
				a{
					display: block;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
	.callback-form{
		width: 59%;
		float: left;
		padding-left: 4%;
		.letter{
			@include sprite($letter);
			float: left;
			margin-left: -50px;
			margin-right: 10px;
		}
		#contactform{
			input, textarea{		
				margin-top: 20px;
				background-color: inherit;
				border: none;
				border-bottom: 1px solid #645545;
				color: #F5F5F9;
				font-family: "VerdanaRegular", sans-serif;
				font-size: 16px;
			}
			input{
				width: 36%;
				height: 35px;
			}
			input[type="submit"]{
				width: 140px;
				height: 40px;
				margin-top: 50px;
				border: 1px solid #645545;
				color: #A9A9A9;
			}
			input[type="submit"]:hover{
				background-color: #5f492b;
				cursor: pointer;
			}
			textarea{
				width: 56%;
				height: 28px;
				margin-left: 7%;
				margin-bottom: -10px;
			}
		}
	}
}

footer{
	.top-line{
		&_sub-block{
			float: right;
		}
	}
}

.footer-mnu-block{
	width: 100%;
	padding-top: 70px;
	.logo-wrap{
		float: left;
		margin: -50px 55px 0 30px;
		text-align: center;
	}
	.logo-title{
		display: inline-block;
		color: #ffefd4;
		font-family: "RobotoLight", sans-serif;
		font-size: 25px;
		text-transform: uppercase;
	}
	ul{
		float: left;
		margin-right: 60px;
		li{
			a{
				color: $lnk-submnu-ft;
				line-height: 30px;
				&:hover{
					color: $lnk-mnu-ft-hover;
				}	
			}
			&:first-child a{
				font-family: "GeorgiaBold", sans-serif;
				color: $lnk-mnu-ft;
				line-height: 49px;
				&:hover{
					color: $lnk-mnu-ft-hover;
				}	
			}
		}
	}
	.ft-line{
		position: relative;
		left: 250px;
		margin-top: -20px;
		width: 77.5%;
		height: 1px;
		background-color: #392420;
		.flower-right-dark{
			@include sprite($flower-right-dark);
			position: absolute;
			right: 0;
			top: -9px;
		}
	}
}
/* ----------- End Footer ------------ */

//ALWAYS END
@import "media.scss";