@import "bourbon";
@import "vars.scss";
@import "sprite.scss";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  color: #fff;
  text-decoration: none;
}

a:hover{
  color: $lnk-mnu-hover;
  text-decoration: none;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.hidden {
  display: none;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {clear: both;}

body{
  width: 100%;
  margin: 0 auto;
  background: #1a0f0d url('../img/bg.jpg');
  font-family: "RobotoRegular", sans-serif;
  font-size: em(14px);
}

h1{
	font-size: 25px;
	font-family: "GeorgiaBoldItalic", sans-serif;
	color: #251D1B;
}
.wrapper{
	width: $site-width;
	margin: 0 auto;
}
.top-line{
	width: 100%;
	padding: 45px/$site-width*100% 25px/$site-width*100%;
	color: #FFF;
	line-height: 23px;
	&_sub-block{
		float: left;
		width: 25%;
		color: #FFF;
	}
	&_booking{
		@include sprite($booking);
		float: left;
		margin: 0 20px 0 25px;
	}
	a{
		padding-bottom: 3px;
		font-family: "GeorgiaBold", sans-serif;
		font-size: 16px;
		color: #FFF;
		border-bottom: 1px solid #e5af51;
		text-decoration: none;
		line-height: 36px;
	}
	&_address{
		@include sprite($map-label);
		float: left;
		margin: 0 20px 0 25px;
	}
	.address{
		margin-top: -5px;
	}
	&_phones{
		@include sprite($phone);
		float: left;
		margin: 0 20px 0 25px;
	}
	.phones{
		margin-top: -5px;
		font-size: 18px;
		li{
			line-height: 23px;
			.phone-part{
				color: #f4bc71;
			}
			.phone-desc{
				display: inline-block;
				margin-left: 18px;
				font-size: 12px;
			}
		}
	}
	.lang{
		margin-top: 10px;
		text-align: right;
		text-transform: uppercase;
		li{
			display: inline-block;
			border-left: 2px solid #844233;
			padding: 0 7px;
			line-height: 16px;
			&:first-child{
				border-left: none;
			}
			a{
				color: #E7B055;
				font-family: "RobotoRegular", sans-serif;
				font-size: 16px;
				border-bottom: none;
				line-height: 16px;
				padding-bottom: 0;
				&:hover, &:focus{
					color: #FFFAFA;
				}
			}
		}
	}
}

.mnu-block{
	width: 100%;
	padding: 90px/$site-width*100% 0 35px/$site-width*100% 0;
	background: #FFF5E5;
	text-align: center;
	nav{
		a{
			margin-right: 75px;
			border-bottom: 3px solid #bcb1a4;
			padding-bottom: 8px;			
			color: $lnk-mnu;
			font-family: "GeorgiaBold", sans-serif;
			font-size: 16px;
			&:hover, &:active{
				color: $lnk-mnu-hover;
				border-bottom: 3px solid #cfa56b;
			}
			&:last-child{
				margin-right: 0;
			}
			&:nth-child(3){
				margin-right: 300px;
			}
		}
	}
	.logo-wrap{
		margin-top: -90px;
	}
	.logo-title{
		display: inline-block;
		margin: 5px 40px 0 40px;
		color: #e3ad4d;
		font-family: "RobotoLight", sans-serif;
		font-size: 35px;
		text-transform: uppercase;
	}
	.flower-left, .flower-right{
		display: inline-block;
	}
	.flower-left{
		@include sprite($bg-logo-title-left);
	}
	.flower-right{
		@include sprite($bg-logo-title-right);
	}
}

.grey-block{
	padding: 85px 65px 105px 65px;
	background: #251d1b;
	border-bottom: 1px solid #514948;
	h1{
		color: #FFF5E5;
		margin-bottom: 40px;
	}
	.hotel-photo{
		padding-left: 40px;
		padding-right: 30px;
		float: left;
		.photo{
			@include sprite($photo);
			float: left;
			margin-left: -40px;
		}
		.gallery-ft{
			width: 450px;
			li{
				float: left;
				width: 150px;
				height: 100px;
				a{
					display: block;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
	.callback-form{
		float: left;
		padding-left: 50px;
		.letter{
			@include sprite($letter);
			float: left;
			margin-left: -50px;
			margin-right: 10px;
		}
		#contactform{
			input, textarea{		
				margin-top: 20px;
				background-color: inherit;
				border: none;
				border-bottom: 1px solid #645545;
				color: #F5F5F9;
				font-family: "VerdanaRegular", sans-serif;
				font-size: 16px;
			}
			input{
				width: 240px;
				height: 35px;
			}
			input[type="submit"]{
				width: 140px;
				height: 40px;
				margin-top: 50px;
				border: 1px solid #645545;
				color: #A9A9A9;
			}
			input[type="submit"]:hover{
				background-color: #5f492b;
				cursor: pointer;
			}
			textarea{
				width: 400px;
				height: 28px;
				margin-left: 50px;
				margin-bottom: -10px;
			}
		}
	}
}

.footer-mnu-block{
	width: 100%;
	padding-top: 70px;
	.logo-wrap{
		float: left;
		margin: -50px 55px 0 30px;
		text-align: center;
	}
	.logo-title{
		display: inline-block;
		color: #ffefd4;
		font-family: "RobotoLight", sans-serif;
		font-size: 25px;
		text-transform: uppercase;
	}
	ul{
		float: left;
		margin-right: 60px;
		li{
			a{
				color: $lnk-submnu-ft;
				line-height: 30px;	
			}
			&:first-child a{
				font-family: "GeorgiaBold", sans-serif;
				color: $lnk-mnu-ft;
				line-height: 49px;
			}
		}
	}
	.ft-line{
		position: relative;
		left: 250px;
		margin-top: -20px;
		width: 1085px;
		height: 1px;
		background-color: #392420;
		.flower-right-dark{
			@include sprite($flower-right-dark);
			position: absolute;
			right: 0;
			top: -9px;
		}
	}
}
.booking{
	width: 100%;
	padding: 50px/$site-width*100% 60px/$site-width*100% 50px/$site-width*100% 150px/$site-width*100%;
	background-color: #251d1b;
}	
footer{
	.top-line{
		&_sub-block{
			float: right;
		}
	}
}

.content{
	width: 100%;
	padding: 60px/$site-width*100% 70px/$site-width*100%;
	background-color: #fff5e5;
	span{
		font-size: 38px;
		font-family: "GeorgiaBoldItalic", sans-serif;
		color: #251D1B;
		line-height: 49px;
	}
	li{
		width: 380px;
		float: left;
		margin-top: 50px;
		margin-right: 65px/$site-width*100%;
		&:nth-child(3n){
			margin-right: 0;
		}
		.img-block{
			width: 100%;
			height: 205px;
		}
		.describe-block{
			margin-top: 5px;
			padding: 35px 30px 40px;
			border: 1px solid #e5af51;
			section{
				height: 100px;
				margin-top: 20px;
				margin-bottom: 20px;
				font-family: "RobotoItalic", sans-serif;
				font-size: 14px;
				line-height: 24px;
				overflow: hidden;
			}
			a{
				position: relative;
				font-size: 18px;
				line-height: 24px;
				font-family: "GeorgiaBoldItalic", sans-serif;
				color: #ae7719;
				.arrow-right{
					@include sprite($arrow-right);
					position: absolute;
					bottom: 5px;
					left: 115px;
				}
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
	.hotel-describe{
		margin-top: 75px;
		section{
			margin-top: 30px;
			font-family: "RobotoItalic", sans-serif;
			font-size: 16px;
			line-height: 30px;
		}
	}
}
//ALWAYS END
@import "media.scss";